<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ipsam
      doloribus quaerat aliquam nemo labore?
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, sunt.
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium modi
      maiores saepe accusantium laboriosam minus perspiciatis iste quasi aliquid
      dignissimos! Amet nemo enim similique dolore tempora ullam animi error
      pariatur?
    </p>
  </div>
</section>
